<br><br><br><br>
<hr>
<br>
<div class = "container-fluid bg-dark text-light">
<h5>All rights reserved <a href = "http://localhost:3000/#">@goairlines</a></h5>
<h7>Authors:</h7><br>
<h7>Shlok</h7><br>
<h7>Harjap</h7><br>
<h7>John</h7><br>
<h7>Amal</h7><br>
<h7>Aman</h7><br>
<h7>Shankes</h7><br>

<br><br>

<a href = "https://www.instagram.com/">Follow Us on Instagram</a><br>
<a href = "https://twitter.com/">Follow Us on Twitter</a>

</div>
