body {
  padding: 20px;
  background: url('/public/images/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #09b2f5;
}

table, tbody, tr, th, td{
  background-color: rgba(12, 12, 12, 0.2) !important;
}

.card{
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.jumbotron{
  background-color: rgba(238, 238, 238, 0.7) !important; 
}

.panel{
  background-color: rgba(255, 255, 255, 0.0) !important; 
}

.container-fluid{
  background-color: rgba(43, 43, 44, 0.95) !important; 
}